* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  transition: .3 linear;
}

/* ======== Header ========  */
#header {
  /* position */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* flex layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 9%;
  /* style */
  background: rgba(17, 17, 17, 0.795);
  backdrop-filter: saturate(180%) blur(16px);
  -wwbkit-backdrop-filter: saturate(180%) blur(16px); 
  box-shadow: 0 6px 4px hsla(0, 4%, 15%, .2);
  z-index: 2;
}

/* logo */
.logo {
  color: aliceblue;
  font-size: 1.3rem;
  cursor: pointer;
}
.logo:hover {
  color: hsl(29, 72%, 62%);
}


/* links */

.navbar{
  margin-left: 170px;
}
.navbar li {
  display: inline-block;
  padding-right: 3rem;
}

.navbar li a {
  position: relative !important;
  color: hsl(195, 12%, 94%, .7);
  transition: all 0.3s ease .1s;
}

.navbar li a:hover {
  /* color: #0088a9; */
  color: hsla(195, 12%, 100%, 0.9);
}
nav ul li a::before,
nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  right: 0;
  left: auto;
  width: 0;
  height: 3px;
}

nav ul li a::before {
  background-color: #235aa6;
  transition: all .25s cubic-bezier(.694, .048, .335, 1) .15s;
}

nav ul li a::after {
  background-color: #f25757;
  transition: all .25s cubic-bezier(.694, .048, .335, 1);
}

nav ul li a:hover::after,
nav ul li a:hover::before {
  width: 100%;
  left: 0;
}


/* button */
button[class=btn-contact] {
  position: absolute;
  right: 9%;
  top: 50%;
  transform: translateY(-50%);
  padding: 9px 25px;
  color: #edf0f1;
  background-color: rgba(0, 136, 169, 1);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-right: 78px;
}

button[class=btn-contact]:hover {
  background-color: rgba(64, 82, 90, 0.452);
  color: aquamarine;
}

#cart {
  font-size: 28px;
  color: #f25757;
  margin-left: 90px !important;
}