.navigation{
    background: rgba(17, 17, 17, 0.795);
    backdrop-filter: saturate(180%) blur(16px);
    -wwbkit-backdrop-filter: saturate(180%) blur(16px); 
    box-shadow: 0 6px 4px hsla(0, 4%, 15%, .2);
    padding: 30px;
}
.navigation a{
    padding: 10px 40px;
    margin: 10px;
    text-decoration: none;
    color: aliceblue;
    background-color: brown;
    border-radius: 4px;
}